<!DOCTYPE html>
<html>
<head>
	<title>Courses offered</title>
</head>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/courses.css">
<body>
	<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a href="#" class="navbar-brand"><img src="images/eduweb.svg" height="45px" width="45"></a>
			<a href="#" class="navbar-brand">EduWeb</a>
		</div>
		<div>

			<ul class="nav navbar-nav navbar-right">
				<li id="home"><a href="/">Home  <span class="glyphicon glyphicon-home" aria-hidden="true"> </a></li>
				<li id="course"><a href="/courses">Courses  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>  </a></li>
				<li id="account"><a href="/contact">Contact <span class="glyphicon glyphicon-user" aria-hidden="true"></span> </a></li>

			</ul>
		</div>
	</div>
	</nav>
	<h1>COURSES OFFERED</h1>

<h4 id="11">CLASS 10+1 (Commerce)</h4>
<ul>
	<li>Introduction to Accounting</li>
	<li>Business Studies</li>
</ul>

<h4 id="12">CLASS 10+2 (Commerce)</h4>
<ul>
	<li>Accounts</li>
	<li>Business Studies</li>
</ul>

<h4 id="CA">CHARTERED ACCOUNTANCY COURSE</h4>
<ul>Stage 1 Foundation <li>All subjects</li></ul>
<ul>Stage 2 INTERMEDIATE <ul>Group 1 <li>costing</li>
<li>company & other allied laws</li></ul>
<ul>Group 2 <li>Financial Management</li></ul></ul>
<ul>Stage 3 FINAL <li>SFM</li>
<li>Corporate & economic Laws</li>
<li>Risk Management</li>
<li>Financial Services & capital markets</li></ul>

<h4 id="bcom">B.Com</h4>
<ul>
	<li>Principle of Financial Accounting </li>
	<li>Business Economics-1 </li>
	<li>Commercial laws</li>
	<li>Business Economics-11</li>
	<li>Corporate Accounting</li>
	<li>Business Laws</li>
	<li>Cost Accounting</li>
	<li>Company Laws</li>
	<li>Banking & Insurance</li>
	<li>Indirect Laws</li>
	<li>Cost Management</li>
	<li>Income tax law</li>
	<li>Management Accounting</li>
	<li>Financial Management</li>
</ul>

<h4 id="Mcom">M.Com</h4>
<ul>
	<li>Cost Analysis & controls</li>
	<li>Investment Management</li>
	<li>Corporate Taxation</li>
	<li>Financial services management</li>
	<li>International financial Management</li>
</ul>

<h4 id="bba">BBA</h4>
<ul>
	<li>Basic Accounting </li>
	<li>Business Laws </li>
	<li>Business Laws-11 </li>
	<li>Financial Management</li>
</ul>

<h4 id="llb">LLB (PU & KU)</h4>
<ul>
	<li>Entrance</li>
	<li>Income Tax</li>
</ul>

<h4 id="sts">SOFT SKILLS</h4>






<!-- 	<div class="jumbotron">

		<div>


			<p>
				<h4 id="us">CONTACT US</h4>

Office Address #1645, Sector 15, Panchkula ( Haryana) 134113
Website:
Email: eduwebch@gmail.com
Mobile:9815664759</p>


			</ul>
		</div>
	</div>


</div> -->

<div class="container">
	<div class="jumbotron">
	<h3 id="contact">CONTACT US</h3>
	<p id="info">
		Office Address #1645, Sector 15, Panchkula ( Haryana) 134113
        Email:eduwebchd@gmail.com
        Mobile:9815664759
	</p>
</div>
</div>

</body>
</html>
