<!DOCTYPE html>
<html>
<head>
	<title>EduWeb</title>
</head>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/eduweb.css">
<body>

	<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">

			<a href="#" class="navbar-brand"><img src="../images/eduweb.svg" height="45px" width="45"></a>
			<a href="#" class="navbar-brand">EduWeb</a>

		</div>
		<div>

			<ul class="nav navbar-nav navbar-right">
				<li id="home"> <a href="/">Home <span class="glyphicon glyphicon-home" aria-hidden="true"></span> </a></li>
				<li id="courses"><a href="/courses">Courses <span class="glyphicon glyphicon-book" aria-hidden="true"></span> </a></li>
				<li id="accounts"><a href="/contact">Contact <span class="glyphicon glyphicon-user" aria-hidden="true"></span> </a></li>


			</ul>
		</div>
	</div>
	</nav>
</body>
<h1 id="heading1">"CLARITY AND SIMPLICITY THROUGH</h1>
<img src="../images/eduwebPhoto.jpg" height="478" width="936">
<h1 id="one">FOCUS,</h1>
<h1 id="two">DEDICATION,</h1>
<h1 id="three">DEVOTION,</h1>
<h1 id="four">COMMITMENT"</h1>
<h1 id="eduweb"> <img src="../images/eduweb.svg" height="70px" width="70"> EduWeb</h1>
<div id="paraoneone">
		<div class="box">
			<p id="paraone">EduWeb is formed with the primary object to develop the requisite conceptual understanding of the subjects from practical or industry perspectives. A common problem being faced by the industry leaders, being small companies to large multinationals, is that most work force in accounting and related jobs like statutory compliance of various laws at local level and management skill set of routine tasks is not world class.


 </p>
		</div>
	<div id="lappy">
		<div class="box">
			<img src="../images/lappy.jpg" width="624" height="400.5">
		</div>
	</div>
	</div>
	<div id="paratwotwo">
		<div class="box">
			<p id="paratwo"> They lack expertise and requisite skill, necessary to operate in the practical world. This has led to a realization that primary focus of our tutors and coaching institutes has been to secure ranks with least botheration about the fundamental clarity. Our other courses are designed for students of professional courses such as  Chartered Accountant (CA), Company Secretary(CS), Certified Financial Accountant (CFA), Certified Professional Accountant (Canada) and other global courses. Our goal is to create professionals with in-depth understanding of subject matter.
. </p>
		</div>
	</div>
	<div id="parathreethree">
		<div class="box">
			<p id="parathree">Courses on basic understanding of Accounting, Income Tax Laws in India, Goods & Services Tax Laws in India are designed especially to conceptually clarify the fundamentals of accounting and can be used by students at all levels from 11th and 12th class and also from persons entering into accounting or students of MBA from non commerce backgrounds.  The idea here is not to create experts but to provide first hand relative information so as to hit the ground running and prepare them for industry needs at tertiary level to build confidence among the course takers to understand anything with open mind. </p>
		</div>


</div>
<h1 id="faculty">FACULTY</h1>
<img id="madam" src="../images/madam-01.jpg" width="680.17" height="498.66">
<div>

<p class="box" id="FACULTY">Our team comprises of Chartered Accountants, Company Secretaries, ACCA’s, lawyers and other commerce professionals. Our team members are also practicing in their respective fields of expertise and have hands on experience with the practical world. We are a group of specialist tutors having relevant experience in their respective subjects.
We have been teaching & training commerce students since many years . Our passion to create impact in educational sector has led our students to achieve ranks all over India and across the globe.
The teaching role of faculty members reflects their centrality in addressing the primary educational mission among colleges and universities. As faculty members teach, they disseminate and impart basic or applied knowledge to students and assist students with the learning process and applying the knowledge.
Other institutional personnel increasingly have positioned themselves as educators to complement or enhance the traditional teaching role of faculty members. Student affairs professionals, for example, have placed greater focus on out-of-classroom learning opportunities, learning communities, and community service learning as mutually-reinforcing learning opportunities to create a more complete campus learning environment.
</p>
</div>
<h1 id="methodology">TEACHING METHODOLOGY</h1>
<div class="container">
	<p id="aim">Our primary aim shall always be to develop the understanding of the subject by giving tools to memorize and other means to absorb fully the basics of a subject. Our courses are basically divided into three segments other than being course specific. Level I is basic level understanding is created of the relevant terminology and outline is formed. It is just to form a bird's eye view of the subject and co-relation is established with day to day activities with the subject. At Level II we dive a little deep and form a basic understanding about each topic that needs more understanding. At Level III full fledged discussion on the subject is made.
Our teaching methodology is unique as we offer face to face and live online coaching individually for each student ( on request basis) so that the subject teacher and the student are on the same page while deciphering the complex terminologies in simple manner. The main object is to cater to individual needs of the student which may not be addressed in a class room environment.
</p>
</div>
<h1 id="conn">TEACHER CONNECTIVITY</h1>
<div class="container">
	<p id="connectivity">Students often face difficulties and doubts while studying at home and considering this fact we provide connectivity to the students so that they can solve their problems at the same time. Students can easily clear their doubts through emails anywhere, anytime. However, if it requires personal interaction, a request for doubt class will be accommodated at priority.</p>
<p id="note">Note: We do not make any claims as to 24*7 connectivity or multiple modes of communication to reach out to teachers. The idea is to simply make the students focus during classes, being specific of their doubts makes them think more by themselves and thus develops their understanding of the subject. Remember, teacher can only assist in understanding and we by no means are creating parrots.</p>
</div>

<!-- <div class="container">
	<div class="jumbotron">
	<h3 id="contact">CONTACT US</h3>
	<p id="info">
		Office Address #1645, Sector 15, Panchkula ( Haryana) 134113
        Email:eduwebchd@gmail.com
        Mobile:9815664759
	</p>
</div>
</div>
 -->
 <div class="container">
 	<div class="jumbotron">
 		<h3 id="contact">CONTACT US</h3>
 		<p id="info">
		Office Address #1645, Sector 15, Panchkula ( Haryana) 134113
        Email:eduwebchd@gmail.com
        Mobile:9815664759
	</p>
 	</div>
 </div>

</body>
</html>
